.class1 
	color red
.class2 
	color green
.class3 
	color blue
.class4 
	font-size 45px
.class5 
	font-size 5px
.class6 
	text-decoration uderline
.class7 
	background-color red
	color white
.class8 
	font-stretch 20px		
.class9 
	border-bottom 2px solid pink
.class10 
	border 1px dashed orange
	border-radius 10px
	background-color black
	color white