.class1 {
  color: #f00;
}
.class2 {
  color: yellow;
}
.class3 {
  color: #00f;
}
.class4 {
  font-size: 45px;
}
.class5 {
  font-size: 60px;
}
.class6 {
  text-decoration: uderline;
}
.class7 {
  background-color: #f00;
  color: #fff;
}
.class8 {
  background-color: pink;
}
.class9 {
  border-bottom: 2px solid #ffc0cb;
}
.class10 {
  border: 1px dashed #ffa500;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
}
